/* ===== MEDIA QUERIES=====*/

/* ------------------------ min-width: 991px ----------------------------- */
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }

  .home__img {
    width: 200px;
  }
}

/* ------------------------ min-width: 576px ----------------------------- */

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 300px;
  }

  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }

  .contact__container {
    justify-items: center;
  }
}

/* ------------------------ min-width: 768px ----------------------------- */

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    position: initial;
    /* ili static */
    width: auto;
    height: auto;
    display: block;
    background: none;
    padding: 0;
    right: auto;
    /* ukloni right: -100% */
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-3);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second-color);
  }

  .home {
    padding: 8rem 0 2rem;
  }

  .home__img {
    width: 400px;
    top: 9rem;
  }

  .about__container {
    padding-top: 1rem;
  }

  .about__img img {
    width: 400px;
  }

  .about__container {
    align-items: center;
    text-align: center;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  /* ===== CIJENIK ===== */
  .cijenik {
    margin-top: 4rem;
  }

  /* ===== GALERIJA ===== */
  .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 2rem;
  }
}



/* ------------------------ min-width: 991px ----------------------------- */

@media screen and (min-width: 991px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 10rem 0 14rem;
  }

  .home__img {
    width: 500px;
    margin-top: 3rem;
  }

  .home__title {
    line-height: 4.2rem;
    margin-bottom: var(--mb-4);
  }

  .home__subtitle {
    font-size: xx-large;
  }

  /* ===== CIJENIK ===== */
  .cijenik {
    margin-top: 4rem;
  }

  .cijene {
    font-size: 2rem;
  }
}

/* ===== GALERIJA ===== */

.masonry-grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.masonry-item img {
  padding: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonry-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.section-title {
  margin-top: 4rem;
}